<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Patient Details</h5>
        Message: {{ message }}

      </div>
      <div class="card-body">
        <form [formGroup]="addPatient" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control"  formControlName="userName">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control"  formControlName="phone">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 1</label>
                <input type="text" class="form-control"  formControlName="address1">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Address Line 2</label>
                <input type="text" class="form-control" formControlName="address2">
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" formControlName="city" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zip">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Pincode</label>
                <input type="text" class="form-control" formControlName="pin">
              </div>
            </div>
            
          </div>
          <button class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>